@import "../../index";

.hero {
  height: 100vh;
  padding: 50px 0;
  background: {
    image: url("/images/header.png");
    repeat: no-repeat;
    size: cover;
    position: center bottom;
  }

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container--header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @include for-tablet {
    flex-direction: row;
    align-items: flex-end;
  }
}

.header {
  &__logo {
    margin: 20px 0;

    @include for-tablet {
      margin: 0;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    @include for-tablet {
      font-size: 14px;
    }

    line-height: 36px;
    color: #fff;
    text-transform: uppercase;

    @include transition-hover($hover-duration, "color") {
      color: $color-hover;
    }
  }

  &__call {
    position: relative;

    &::after {
      content: " ";
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 5px;
      border-bottom: 1px dashed #606060;
    }
  }
}
