@import "../../../../utils/extends";
@import "../../../../utils/mixins";
@import "../../../../utils/vars";

.about__us {
  padding-top: 134px;
  padding-bottom: 171px;
}

.container--about__us {
  display: flex;
}

.promo {
  width: 60%;
  font-size: 48px;
  font-weight: 300;
  line-height: 1.25em;
  text-transform: uppercase;

  span {
    color: $main-accent-color;
  }
}

.about__us-history {
  font-weight: 500;
  line-height: 1.5em;
}

.about__us-list {
  padding: 0;

  .list__item {
    font-weight: 300;
    line-height: 1.5em;
  }
}

.about__us-content {
  width: 80%;
}

.about__us-guaranty {
  font-weight: 500;
}

@media (max-width: 1023px) {
  .about__us .container {
    width: 768px;
  }
}

@media (max-width: 800px) {
  .about__us .container {
    width: 640px;
  }
}

@media (max-width: 679px) {
  .about__us {
    .container {
      width: 480px;
    }
  }

  .container--about__us {
    flex-flow: row wrap;
  }
}

@media (min-width: 400px) and (max-width: 500px) {
  .about__us {
    .container {
      width: 380px;
    }
  }

  .container--about__us {
    flex-flow: row wrap;
  }

  .promo {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 399px) {
  .about__us {
    .container {
      width: 280px;
    }
  }

  .promo {
    width: 100%;
  }
}
