html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  background: #fff;
  font-family: Ubuntu, sans-serif;
  font-size: 16px;
  margin: 0;
  padding-bottom: 540px;
  overflow-x: hidden;
}

.wrapper {
  background: #fff;
  position: relative;
  z-index: 200;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.container {
  width: 960px;
  margin: 0 auto;
}
