
.testis {
  display: flex;
  justify-content: space-between;
}

.testi {
  text-align: center;
  padding: 0 2%;
  &_photo {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: inline-block;
    &:before {
      content: "";
      position: absolute;
      left: -35px;
      top: 50%;
      margin-top: -15px;
      width: 40px;
      height: 40px;
      background: url("../../images/quote.svg") no-repeat;
      background-size: contain;
    }
  }
  &_name {
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
  }
  &_position {
    font-style: italic;
    font-size: 16px;
    color: #696973;
    margin-top: 5px;
  }
  &_description {
    line-height: 1.37;
    font-size: 16px;
    text-align: center;
    color: #000;
    margin-top: 25px;
  }
}

@media (max-width: 930px) {
  .testis {
    display: block;
  }

  .testi-item {
    margin-bottom: 30px;
  }
}
